<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ui-sref="wr.users" id="logo" class="navbar-brand">
        <img src="assets/images/logo-in-black.png" alt="" />
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="wr.clients" translate="navbar.clients">Clients</a></li>
        <li ui-sref-active="active"><a ui-sref="wr.users.list" translate="navbar.users">Users</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <wr-login-dropdown></wr-login-dropdown>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
