/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../../bower_components/font-awesome/fonts";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
@import "../../bower_components/load-awesome/docs/assets/loaders.css";

@import "_variables.scss";
// ---------------------------------------------------------------------------------------------------------

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import "_flatly.scss";

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector


body {
  background: $gray-lighter;
}

#content {
  margin-top: 61px;
}

.animated.fast {
  animation-duration: 300ms;
}


.m-b-n {
  margin-bottom: 0;
}


@-webkit-keyframes wrFadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes wrFadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@mixin entrance($x, $y) {
  transition: 1s cubic-bezier(0, 0.95, 0.20, 1) all;
  opacity:0;
  -webkit-transform: translate3d($x, $y, 0);
          transform: translate3d($x, $y, 0);
}
.wr-up-entrance.ng-enter { @include entrance(0, 80px) }
.wr-right-entrance.ng-enter { @include entrance(-80px, 0) }
.wr-down-entrance.ng-enter { @include entrance(0, -80px) }
.wr-left-entrance.ng-enter { @include entrance(80px, 0) }
/* The finishing CSS styles for the enter animation */
.wr-up-entrance.ng-enter.ng-enter-active,
.wr-right-entrance.ng-enter.ng-enter-active,
.wr-down-entrance.ng-enter.ng-enter-active,
.wr-left-entrance.ng-enter.ng-enter-active {
  opacity:1;
  -webkit-transform: none;
          transform: none;
}

.wr-entrance {
  @extend .wr-left-entrance;
}
