<div class="error">
  <div class="error-code m-b-10 m-t-20">404 <i class="fa fa-warning"></i></div>
  <h3 class="font-bold" translate="auth.404.title">We couldn't find the page..</h3>
  <div class="error-desc">
    <span translate="auth.404.sorry_description">
      Sorry, but the page you are looking for was either not found or does not exist.
    </span> <br/>
    <span translate="auth.404.try_to_refresh">
      Try refreshing the page or click the button below to go back to the Homepage.
    </span>
    <div>
      <a class=" login-detail-panel-button btn" href="/">
        <i class="fa fa-arrow-left"></i>
        <span translate="auth.404.back_to_home">Go back to Homepage</span>
      </a>
    </div>
  </div>
</div>
