<div class="container">
  <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" name="form" ng-submit="vm.submit(form)" novalidate>
      <span id="reauth-email" class="reauth-email"></span>
      <input type="email" id="inputEmail" class="form-control" name="email"
        placeholder="{{ 'auth.login.email' | translate }}" required autofocus>
      <input type="password" id="inputPassword" class="form-control" name="password"
        placeholder="{{ 'auth.login.password' | translate }}" required>
      <div id="remember" class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> <span translate="auth.login.remember_me">Lembrar-me</span>
        </label>
      </div>
      <button class="btn btn-primary btn-block" type="submit" translate="auth.login.submit">Entrar</button>
    </form><!-- /form -->
    <a href="#" class="forgot-password">
        <span translate="auth.login.forgot_password">Esqueci minha senha</span>
    </a>
  </div><!-- /card-container -->
</div><!-- /container -->